<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.zgyejy.yudong">

    <!-- 播放视频所需的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        tools:replace="android:label"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="育栋教育"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".MyApplication">
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.VideoPlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_video_play"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activity.Video51Activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait">
        </activity>

        <!-- AutoLayout基本屏幕参数配置 -->
        <meta-data
            android:name="design_width"
            android:value="768"/>
        <meta-data
            android:name="design_height"
            android:value="1280"/>

        <activity
            android:name=".activity.TableTopActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.LeadActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ArticleReadActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.WebReadActivity">
        </activity>
        <activity android:name=".activity.AboutUsActivity">
        </activity>
        <activity android:name=".activity.CourseList51Activity">
        </activity>
    </application>

</manifest>